html
    head
        title= title
    style
        include style.css
    body
        a(href='/login')
            button(type='button') LOG IN HERE
        h1= message
        img(src=mainMeme.url)
        h1="Meme list"
        div
            each meme in memes
                div(class="picture)")
                   img(src=meme.url)
                   a(href="meme/" + meme.id style='display: inline') #{meme.name} 
                   p(style='display: inline') #{meme.getPrice()}
                   